os: osx
language: swift
xcode_project: TelloSwift.xcodeproj
matrix:
  include:
    - osx_image: xcode11.2
      env: PLATFORM="iOS"
      xcode_scheme: TelloSwift
      xcode_destination: platform=iOS Simulator,OS=13.2.2,name=iPhone 11 Pro
    - osx_image: xcode11.2
      env: PLATFORM="macOS"
      xcode_scheme: TelloSwiftTests-macOS
after_success:
  - bash <(curl -s https://codecov.io/bash)
